.selection-control-feild{
    padding: 0 20px 15px;
    display: flex;
    align-items: center;
    color: #515962;
}

.selection-control-feild .selection-title{
    font-size: 12px;
    color: #515962;
    max-width: 60%;
    text-transform: capitalize;
    display: inline-block;
}
.selection-control-feild .selection-select-wrap{
    margin-inline-start: auto;
}
.selection-control-feild .selection-select-wrap{
    max-width: 400px;
    width: 52%;
}
.selection-control-feild .selection-select-wrap select{
    width: 100%;
    border-color: #d5d8dc;
    height: 27px;
    outline: none;
    border-radius: 3px;
    font-size: 12px;
    color: #515962;
    padding-inline-start: 5px;
    padding-inline-end: 20px;
    position: relative;
    text-transform: capitalize;
}

.selection-control-feild .selection-select-wrap select::after{
    font-family: FontAwesome;
    content: "\e8ad";
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    pointer-events: none;
}