.letterspacing-control-feild {
    padding: 0 20px 15px;
    display: flex;
    align-items: center;
    color: #515962;
    position: relative;
    flex-direction: column;
}

.letterspacing-control-feild .letterspacing-head {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.letterspacing-control-feild .letterspacing-head .icon-list {
    padding: 7px 8px;
    padding-bottom: 0;
    transition: .15s;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 95px;
    z-index: 2;
    background: #fff;
    overflow: hidden;
    height: 27px;
}

.showAllDeviceIcon {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: 95px !important;
}

.letterspacing-control-feild .letterspacing-head .icon-list .item {
    font-size: 12px;
    cursor: pointer;
    height: 2.5em;
    text-align: center;
    background: none;
    border: none;
    display: flex;
}

/*------- Unites switcher --------*/
.letterspacing-control-feild .letterspacing-head .right .units-switcher {
    display: flex;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 2;
    right: 1px;
    flex-direction: column;
    background: #fff;
    padding: 7px 8px;
    border-radius: 3px;
    transition: .15s;
    height: 27px;
}
.letterspacing-control-feild .showUnitSwhitch{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: 122px !important;
}
.letterspacing-control-feild .units-switcher .switch {
    font-size: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.letterspacing-control-feild .units-switcher .switch:last-child{
    margin-bottom: 0;
}
.letterspacing-control-feild .letterspacing-title {
    font-size: 12px;
    color: #515962;
    max-width: 60%;
    margin-inline-end: 5px;
}

.letterspacing-control-feild .letterspacing-select-wrap {
    margin-inline-start: auto;
}

.letterspacing-control-feild .letterspacing-select-wrap {
    max-width: 400px;
    width: 52%;
}

.letterspacing-control-feild .letterspacing-select-wrap select {
    max-width: 100%;
    border-color: #d5d8dc;
    height: 27px;
    outline: none;
    border-radius: 3px;
    font-size: 12px;
    color: #515962;
    padding-inline-start: 5px;
    padding-inline-end: 20px;
    position: relative;
}

.letterspacing-control-feild .letterspacing-select-wrap select::after {
    font-family: FontAwesome;
    content: "\e8ad";
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    pointer-events: none;
}

.letterspacing-nUiTouch{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.letterspacing-nUiTouch .input-value{
    width: 21%;
    min-width: 54px;
    margin-inline-start: 12px;
    transition: width .3s ease-in-out;
}

.letterspacing-nUiTouch .input-value input{
    padding: 5px;
    color: #515962;
    border-radius: 3px;
    font-size: 12px;
    width: 100%;
    background: none;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #d5d8dc;
    outline: none;
}

.letterspacing-nUiTouch .input-rang{
    width: 79%;
    display: flex;
}


/*********** Baseline, reset styles ***********/
.letterspacing-nUiTouch .input-rang input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  /* Removes default focus */
  .letterspacing-nUiTouch .input-rang input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  .letterspacing-nUiTouch .input-rang input[type="range"]::-webkit-slider-runnable-track {
    background-color: #d5d8dc;
    height: 4px;
    border-radius: 5px;
  }
  
  /* slider thumb */
  .letterspacing-nUiTouch .input-rang input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px; /* Centers thumb on the track */
    background-color: #fff;
    height: 1rem;
    width: 1rem;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    border-radius: 50%;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .letterspacing-nUiTouch .input-rang input[type="range"]::-moz-range-track {
    background-color: #fff;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  .letterspacing-nUiTouch .input-rang input[type="range"]::-moz-range-thumb {
    background-color: #fff;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }